.text-input-container {
  width: 44%;
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  /* min-width: 100%; */
  min-height: 40px;
  /* max-width: 172px; */
}
input[type="date"] {
  font-size: 20px;
  /* min-width: 100%; */
  min-height: 40px;
  /* max-width: 172px; */
}
input{
  width: 100%;
}
