.page {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.center{
  height: 100vh;
}
.footer {
  width: 100vw;
  height: 5vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #ce9d9db8;
}
.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30vw;
  height: 100vh;
  justify-content: space-between;
}
.title{
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}