.DropDownContainer {
  width: 115px;
  margin: 0 10px;
  height: 100px;
}

.DropDownContainer .DropDownHeader {
  margin-bottom: 5px;
  padding: 0.5em;
  border: solid grey 1px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  color: #131923;
  background: #ffffff;
  width: fit-content;
}

.DropDownContainer .DropDownHeader:active,
.DropDownContainer .DropDownHeader:focus {
  border: solid blue;
}

ul.DropDownList {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 10px 10px;
  max-height: 240px;
  overflow: scroll;
  margin: 0;
  width: fit-content;
}

ul.DropDownList:hover {
  cursor: pointer;
}

ul.DropDownList:first-child {
  padding-top: 10px;
}
ul.DropDownList:last-child {
  padding-bottom: 0px;
  border-bottom: 1px solid grey;
}

.ListItem {
  list-style: none;
  margin-bottom: 0px;
  padding: 5px;
}
.ListItem::after {
  content: "";
  display: block;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  width: 140%;
  margin-left: -15px;
}
.ListItem:last-child:after {
  content: "";
  display: block;
  border-bottom: none;
}

.ListItem:hover {
  background-color: rgba(146, 218, 242, 0.65);
  color: black;
  cursor: pointer;
  padding: 5px;
}
